* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(50deg, rgba(23, 162, 177, 0.843), rgba(48, 168, 228, 0.85));
    background-attachment: fixed;
}

.calculator {
    width: 450px;
    height: auto;
    margin: 0 auto;
    top: 40px;
    padding-bottom: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 245, 245);
}

.number, .operator {
    text-align: center;
    width: 70px;
    height: 50px;
    margin: 5px auto;
    font-weight: bold;
}

.number, .number:active, .number:focus {
    background-color: #e5e8fa;
    border-radius: 4px;
    border: 0;
    outline: 0;
}

.operator, .operator:active, .operator:focus {
    background-color: #e0e1e5;
    border: 0;
    border-radius: 4px;
    outline: 0;
    color: black;
}

.number:active, .operator:active {
    font-size: 15px;
}

.equalTo, .equalTo:active, .equalTo:focus {
    background-color: rgb(75, 155, 235);
}

.answer>input {
    margin: 50px 0;
    text-align: right;
    outline: 0;
    border: 0;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(247, 245, 245);
}
